
DriveSafe.Users/obj/project.nuget.cache
VehicleService/obj/VehicleService.csproj.nuget.g.props
VehicleService/obj/VehicleService.csproj.nuget.dgspec.json
VehicleService/obj/rider.project.restore.info
VehicleService/obj/rider.project.model.nuget.info
VehicleService/obj/project.packagespec.json
VehicleService/obj/project.nuget.cache
VehicleService/obj/project.assets.json
VehicleService/obj/Debug/net8.0/VehicleService.AssemblyInfoInputs.cache
VehicleService/obj/Debug/net8.0/VehicleService.AssemblyInfo.cs
RentService/obj/rider.project.restore.info
RentService/obj/rider.project.model.nuget.info
RentService/obj/RentService.csproj.nuget.g.props
RentService/obj/RentService.csproj.nuget.dgspec.json
RentService/obj/project.packagespec.json
RentService/obj/project.nuget.cache
RentService/obj/project.assets.json
RentService/obj/Debug/net8.0/RentService.AssemblyInfoInputs.cache
RentService/obj/Debug/net8.0/RentService.AssemblyInfo.cs
MaintenanceService/obj/rider.project.restore.info
MaintenanceService/obj/rider.project.model.nuget.info
MaintenanceService/obj/project.packagespec.json
MaintenanceService/obj/project.nuget.cache
MaintenanceService/obj/project.assets.json
MaintenanceService/obj/MaintenanceService.csproj.nuget.g.props
MaintenanceService/obj/MaintenanceService.csproj.nuget.dgspec.json
MaintenanceService/obj/Debug/net8.0/MaintenanceService.AssemblyInfoInputs.cache
MaintenanceService/obj/Debug/net8.0/MaintenanceService.AssemblyInfo.cs
DriveSafe.Users/obj/rider.project.restore.info
DriveSafe.Users/obj/rider.project.model.nuget.info
DriveSafe.Users/obj/project.packagespec.json
DriveSafe.Users/obj/project.nuget.cache
DriveSafe.Users/obj/project.assets.json
DriveSafe.Users/obj/DriveSafe.Users.csproj.nuget.g.props
DriveSafe.Users/obj/DriveSafe.Users.csproj.nuget.dgspec.json
DriveSafe.Users/obj/Debug/net8.0/DriveSafe.Users.AssemblyInfoInputs.cache
DriveSafe.Users/obj/Debug/net8.0/DriveSafe.Users.AssemblyInfo.cs
ApiGateway/obj/rider.project.restore.info
ApiGateway/obj/rider.project.model.nuget.info
ApiGateway/obj/project.packagespec.json
ApiGateway/obj/project.nuget.cache
ApiGateway/obj/project.assets.json
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfoInputs.cache
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfo.cs
ApiGateway/obj/ApiGateway.csproj.nuget.g.props
ApiGateway/obj/ApiGateway.csproj.nuget.dgspec.json
